body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.centered {
    /*Use this one when the design is adjusted: text-align: center;*/
    text-align: center;
    /*margin: 0 auto;
    text-align: left;
    width: 75%;*/
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
    .centered {
        /*Use this one when the design is adjusted: text-align: center;*/
     
        margin: 0 auto;
        text-align: left;
        width: 75%;
    }
  }